<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{!-- Styles'n'Scripts --}}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen-override.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

    {{!-- The blog navigation links --}}
    {{navigation}}

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The tiny footer at the very bottom --}}
        <footer class="site-footer clearfix">
						<section class="text-xs-center share-icons">
							<a href="https://www.twitter.com/aftership" rel="publisher" target="_blank" class="social-btn"><i class="fa fa-twitter"></i><span class="sr-only">twitter</span></a>
							<a href="https://www.facebook.com/aftership/?fref=ts" rel="publisher" target="_blank" class="social-btn"><i class="fa fa-facebook"></i><span class="sr-only">facebook</span></a>
							<a href="https://itunes.apple.com/us/app/aftership/id507014023" rel="publisher" target="_blank" class="social-btn"><i class="fa fa-apple"></i><span class="sr-only">Get Apple App</span></a>
							<a href="https://play.google.com/store/apps/details?id=com.aftership.AfterShip" rel="publisher" target="_blank" class="social-btn"><i class="fa fa-android"></i><span class="sr-only">Get Android App</span></a>
						</section>
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a> Theme Aftership</section>
        </footer>

    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    {{!-- Fitvids makes video embeds responsive and awesome --}}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    {{!-- The main JavaScript file for Casper --}}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
